/* Admin.css */

.admin-wrapper {
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .organization-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .organization {
    max-width: 300px; /* Adjust the max-width as needed */
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* Ensure long words break to a new line */
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow on hover */
  }
  
  .organization:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover */
  }
  
  .organization h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .organization p {
    font-size: 14px;
    margin-bottom: 6px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  